@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #fc5f5f;
  --color-linen: #f5f2eb;
  --color-linen-dard: #e6e2d6;
  --color-charcoal: #1a1a1a;
  --color-charcoal-light: #333333;
  --color-charcoal-almond: #dbcfb0;
  --color-sand: #c2b8a3;
  --font-sans: var(--qc-open-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: var(--qc-playfair-display), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@import "tailwindcss";

body {
  background-color: #F5F2EB;
  color: #1a1a1a;
}

html {
  scroll-behavior: smooth;
}